/* ==========================================================================
   Global: Page
   ========================================================================== */

.page {
  display: flex;
  flex-flow: row nowrap;
  background: #fff;
}


/* Page header
   ========================================================================== */

.page__header {
  @extend .antialiased;
  flex: 0 0 auto;
  height: 100vh;
  width: 20rem;
  z-index: 10;
  background: $base-font-color;
  color: #fff;

  > .inner {
    padding: ($global-spacing * 2) ($global-spacing * 2) ($global-spacing * 5) ($global-spacing * 2);
  }
}

/* Headline */

.page__headline {
  margin-bottom: $global-spacing * 2;

  &::after {
    content: '';
    width: 2rem;
    height: 1px;
    background: #fff;
    display: block;
    margin: 0.75rem 0 0 0;
  }

  > a {
    display: block;
    color: inherit;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.page__title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: $base-font-bold;
  margin: 0;

  a {
    display: inline-block;
    vertical-align: top;
    color: inherit;
  }
}

.page__subtitle {
  position: relative;
  @extend .heading-alt;
  color: rgba(#fff, 0.64);
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: ($global-spacing / 4) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


/* Page body
   ========================================================================== */

.page__body {
  flex: 1 1 auto;
  height: 100vh;
  overflow: scroll;
  position: relative;
}


/* Page footer
   ========================================================================== */

.page__footer {
  @extend .antialiased;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 20rem;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: $base-font-regular;
  overflow: hidden;

  a {
    position: relative;
    color: inherit;
    display: block;
    padding-top: $global-spacing / 2;

    span {
      font-weight: $base-font-bold;
    }

    img {
      position: absolute;
      top: 0.5rem;
      left: -3rem;
      width: 2rem;
      height: auto;
    }

    &::before {
      position: absolute;
      top: 0;
      left: -3rem;
      background: $primary-color;
      height: 6rem;
      width: 2rem;
      content: "";
      border-radius: $base-border-radius $base-border-radius 0 0;
    }
  }

  small {
    font-size: inherit;
    font-weight: inherit;
  }

  > .inner {
    padding: 0 ($global-spacing * 2) ($global-spacing * 2) ($global-spacing * 5);
  }

  *:last-child {
    margin-bottom: 0;
  }
}