/* ==========================================================================
   Global: Page Browser
   ========================================================================== */

.pb {
  flex: 1;
  display: none; // Temp

  @include media(medium-up) {
    display: flex;
    flex-direction: column;
  }

  &::before {
    content: '';
    width: 2rem;
    height: 1px;
    background: #fff;
    display: block;
    margin: 0.75rem 0 ($global-spacing * 2) 0;
  }

  &::after {
    display: none;
    content: "";
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%;
    height: $global-spacing;
    background-image: linear-gradient(to bottom, transparent, $base-font-color);
    pointer-events: none;

    @include media(medium-up) {
      display: block;
    }
  }
}

.pb__title {
  position: absolute;
  top: 0;
  right: 0;

  a {
    @extend .button, .button--achromic-plain, .button--text-hidden;

    &::before {
      @extend %uisi-hamburger-menu;
    }
  }

  @include media(medium-up) {
    font-size: 0;
    visibility: hidden;
    opacity: none;
  }
}

.pb__contents {
  overflow: auto;
  margin: 0 (-$global-spacing);
  padding: 0 $global-spacing;

  @include media(medium-up) {
    display: block;
    margin: 0 (-$global-spacing * 2);
    padding: 0 ($global-spacing * 2) $global-spacing ($global-spacing * 2);
  }
}

.pb__contents,
.page__colophon,
.page__prime-nav,
.ppn__section {
  > *:last-child {
    margin-bottom: 0;
  }
}

.page__prime-nav {
  margin-bottom: $global-spacing * 2;
}

.ppn__section {
  margin-bottom: $global-spacing * 1.5;
}

.ppn__section-title {
  position: relative;
  @extend .heading-alt;
  color: rgba(#fff, 0.64);
  font-size: 0.75rem;
  line-height: 1;
  margin: 0 0 ($global-spacing / 2) 0;;
}

.ppn__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: $base-font-bold;
  font-size: 1rem;
  line-height: 1.25;
}

.ppn__menu-item,
.ppn__menu-item:visited {
  position: relative;
  display: block;
  color: inherit;
  padding: ($global-spacing / 4) $global-spacing;
  margin: 0 (-$global-spacing);

  @include media(medium-up) {
    margin: 0 (- $global-spacing * 2);
    padding: ($global-spacing / 4) ($global-spacing * 2);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 0;
    width: ($global-spacing / 2);
    background: $link-color;
    content: "";
    transition: all 0.24s ease 0s;
  }

  .ppn__menu .ppn__menu & {
    padding: ($global-spacing / 4) ($global-spacing * 2);

    @include media(medium-up) {
      margin: 0 (- $global-spacing * 2);
      padding: ($global-spacing / 4) ($global-spacing * 3);
    }
  }
}

.ppn__menu-item--active::before {
  height: 100%;
}