@charset "UTF-8";
@media (orientation: landscape){
  #header {
    height: 100vh);
    text-align: center;
    padding: 35vh;
    font-size: 7vh;
  }

  #header-logo {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  #header-title {
    color: #333333;
    padding-bottom: 15vh;
  }
}

@media (orientation: portrait){
  #header {
    height: 100vw);
    text-align: center;
    padding: 40vw;
    font-size: 6vw;
  }

  #header-logo {
    width:30vw;
    height:calc((32/188)*30vw);
    text-align: center;
  }

  #header-title {
    color: #333333;
    padding-bottom: 30vw;
    padding-top: 2vw;
  }
}

