@charset "UTF-8";

body {
  font-size: 18pt;
}

@media (orientation: landscape){
  #header {
    height: 100vh);
    text-align: center;
    padding: 35vh;
    font-size: 7vh;
  }

  #header-logo {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  #header-title {
    color: #333333;
    padding-bottom: 15vh;
  }
  h1{
    font-size: 5vw;
  }
  h2{
    font-size: 3vw;
  }
}

@media (orientation: portrait){
  #header {
    height: 100vw);
    text-align: center;
    padding: 40vw;
    font-size: 6vw;
  }

  #header-logo {
    width:30vw;
    height:calc((32/188)*30vw);
    text-align: center;
  }

  #header-title {
    color: #333333;
    padding-bottom: 30vw;
    padding-top: 2vw;
  }

  h1{
    font-size: 9vw;
  }
  h2{
    font-size: 5vw;
  }
}

h1, h2 {
  color: #333333;
}

h3, h4, h5, h6{
  color:#ca420b;
}

p {
  color: #000000;
}

#markdown {
  padding-left:12vw;
  padding-right:12vw;
}
